@using ControlProduccion.ViewModel;
@model AnchoBobinaViewModel;
@{
    ViewData["Title"] = "Editar Ancho Bobina";
}


<div class="col-md-8 offset-md-2">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>

        </div>
        <div class="ibox-content">
            <form id="frmCatColorBobina" asp-controller="GestionCatalogos" asp-action="EditAnchoBobina" method="post" autocomplete="off">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                <input type="hidden" asp-for="Id" />


                <div class="form-group">
                    <label asp-for="Valor"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Activo"></label>
                    <input asp-for="Activo" type="checkbox" />
                    <span asp-validation-for="Activo" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("IndexAnchoBobina", "GestionCatalogos")'">Regresar</button>
            </form>


        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}